@page "/DownloadData"

<div class="download-container-outer">
        <div class="download-container">
            <div class="download-msg">
                正在更新交易数据，请稍后...
            </div>
        </div>
    </div>

