<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Win10Light</value>
      </setting>
    </DXThemeManager>
  </userSettings>

  <appSettings>
    <add key="TushareToken" value="197d84ab3972105c1788d3e4f4ca79b5f8c51d5ee2fd89025f36a298"/>
    <add key="TushareUrl" value="https://api.waditu.com/"/>
    
    <add key="DailyStockTradeDataCollectorThreadCount"  value="5"/>
    <add key="StockDailyIndicatorCollectorThreadCount" value="5"/>
    <add key="IndustryCollectorThreadCount" value="1"/>
    
    <add key="AShareApiUrl" value="https://dawnquant.com:6002"/>
    
    <add key="IdentityUrl" value="https://dawnquant.com:6001"/>
    <add key="ClientId" value="DawnQuant.DataCollector"/>
    <add key="ClientSecret" value="lxp48218736."/>
    <add key="Scope" value="DawnQuant.AShare.DataApi"/>

    <add key="230DailyTradeDataTaskCron" value="0 30 14 ? * MON-FRI"/>
	<add key="DailyTradeDataTaskCron" value="0 00 17 ? * MON-FRI"/>
	<add key="StockDailyIndicatorTaskCron" value="0 00 17 ? * MON-FRI"/>
  </appSettings>
</configuration>

