<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Win10Light</value>
      </setting>
    </DXThemeManager>
  </userSettings>

  <appSettings>
    <add key="AShareApiUrl" value="https://dawnquant.com:6002"/>
    <add key="IdentityUrl" value="https://dawnquant.com:6001"/>
    <add key="ClientId" value="DawnQuant.App"/>
    <add key="Scope" value="DawnQuant.AShare.DataApi DawnQuant.AShare.AppApi openid  profile"/>
  </appSettings>
</configuration>

